# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
dist/

# Environment files
.env

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Test binary, output, and coverage files
*.out
*.test
coverage.txt
